.task {
    display: grid;
    grid-template-columns: 40px 2fr 1fr 1fr 50px;
    grid-template-rows: 1fr 2fr;

    margin-bottom: 20px;
    border: 1px solid #CBCBCB;
}

.task_edit {
    box-shadow: 0 3px 8px 0 #dfdfdf;
}

.task__checkbox {
    order: -1;
}

.task__value {
    display: block;
    padding: 10px 15px;

    font-size: 15px;
    color: #5B5B5B;
}

.task__value_date {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 12px;
}

.task__desc {
    grid-column: 1 / -1;
    order: 100;

    margin: 0;
    padding: 23px;
    color: #5B5B5B;
    font-size: 15px;
    font-weight: 400;

    border: none;
    border-top: 1px solid #CBCBCB;
}

.task__desc,
.task__value_title {
    word-break: break-word;
}

.task__value,
.task__button {
    background-color: white;
    border: none;
    border-left: 1px solid #CBCBCB;
}

.task__button_edit {
    border-left: none;
}

.task__value_date {
    border-right: 1px solid #CBCBCB;
}

.task__button:hover {
    background-color: #EBEBEB;
}

.task__button_delete {
    color: #CA3838;
    font-weight: bold;
}
