.newTask {
    margin-bottom: 40px;
    border: 1px solid #CBCBCB;
}

.newTask__wrapHead {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #CBCBCB;
}

.newTask__title,
.newTask__date {
    padding: 19px 23px;
}

.newTask__title {
    flex-grow: 1;
    font-size: 20px;
    border: none;
}

.newTask,
.newTask__title::placeholder,
.newTask__date,
.newTask__clear {
    color: #5B5B5B;
}

.newTask__date {
    border: none;
    border-left: 1px solid #CBCBCB;
}

.newTask__date::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
}

.newTask__wrapBody {
    padding: 23px;
}

.newTask__description {
    height: 110px;
    margin: 0 0 10px;
    padding: 10px 20px;
}

.newTask__wrapButton {
    display: flex;
    justify-content: flex-end;
}

/*Buttons*/

.newTask__add {
    font-size: 12px;
    color: #5B5B5B;

    background-color: transparent;
    border: 1px solid #CBCBCB;
}

.newTask__add:hover,
.newTask__clear:hover {
    color: #FFF;
    background-color: #757575;
}

.newTask__add:active {
    border: 1px solid #9C9C9C;
}

.newTask__add:active,
.newTask__clear:active {
    background-color: #9C9C9C;
}

.newTask__clear {
    margin-left: 10px;
    font-size: 12px;
    background-color: #EBEBEB;
    border: none;
}
